.breedCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px 16px 40px 16px;
  margin: 16px;
  text-align: center;
  position: relative;
}

.beedTitle {
  margin: 0;
}

.beedTitle::first-letter {
  text-transform: uppercase;
}

.breedImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.iconContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.likeIcon {
  cursor: pointer;
  color: gray;
}

.likeIcon.liked {
  color: red;
}

.deleteIcon {
  cursor: pointer;
  color: gray;
}

.deleteIcon:hover {
  color: black;
}
