.form {
  display: flex;
  flex-direction: column;
}

.submitButton {
  padding: 10px 20px;
  background-color: #f7f7f7;
  color: #4a4a4a;
  border: 1px solid #bbb;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.submitButton:hover {
  background-color: #494949;
  color: white;
  border-color: #494949;
}
